body, #selection-buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#selection-buttons {
    flex-direction: column !important;
}

#selection-buttons > * > .selected {
    color: gold;
}

#field > * > * {
    min-width: 10px;
    min-height: 10px;
}

#field {
    display: flex;
    gap: 1px;
    flex-direction: row;
    user-select: none;
}

#field > * {
    display: flex;
    gap: 1px;
    flex-direction: column;
}

.empty {
    background-color: #e7e7e7;
}

.rock {
    background-color: #787878;
}

.sand {
    background-color: goldenrod;
}

.water {
    background-color: blue;
}